.estimate-table {
  width: 100%;
  border-collapse: collapse;
}

.estimate-table th,
.estimate-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  width: max-content;
}

.estimate-table .input-field {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #E0E0E0;
}

.estimate-table  .section-name-input,
.estimate-table  .total-amount-input {
  padding: 8px;
  border: 1px solid #E0E0E0;
}

.estimate-table .section-header {
  background-color: #f7f7f7;
}

.estimate-table  .total-summary div {
  margin: 5px 0;
  font-weight: bold;
}

.estimate-table .error {
  color: red;
  font-size: 14px;
}